/**
* @author JoomlaShine.com Team
* @copyright JoomlaShine.com
* @link joomlashine.com
* @package
* @version $Id:
* @license GNU/GPL v2 http://www.gnu.org/licenses/gpl-2.0.html
*/

.jsn-bootstrap * {
    word-wrap: break-word;
}

.jsn-master .jsn-bootstrap .jsn-row-container .label,
.jsn-master .jsn-bootstrap .jsn-row-container {
    white-space: inherit;
}

#ui-datepicker-div {
    z-index: 2147483648 !important;
}

.jsn-uniform.jsn-master .jsn-bootstrap .hide {
    display: none;
}

.jsn-uniform.jsn-master .jsn-bootstrap .jsn-form-content hr {
    margin: 10px 0;
}

.jsn-uniform.jsn-master .jsn-bootstrap .jsn-form-content span.required {
    color: red;
    font-weight: bold;
    margin: 0 5px;
}

.jsn-uniform.jsn-master .jsn-bootstrap .jsn-form-content .control-group {
    border: 1px solid transparent;
    margin-bottom: 0px;
    padding: 10px;
    transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
}
.jsn-uniform.jsn-master .jsn-bootstrap .jsn-form-content .control-label {
    font-weight: bold;
}

.jsn-uniform.jsn-master .jsn-bootstrap form.form-horizontal .jsn-form-content .control-group .row-fluid,
.jsn-uniform.jsn-master .jsn-bootstrap form.form-horizontal .jsn-form-content .control-group .row-fluid [class*="span"] input {
    margin-bottom: 10px;
}

.jsn-uniform.jsn-master .jsn-bootstrap .jsn-form-content .control-group .jsn-value-Others {
    display: block;
}

.ui-daterangepickercontain {
    text-align: left;
}

.jsn-uniform.jsn-master .jsn-bootstrap input[type="file"] {
    height: 24px;
}

.jsn-uniform.jsn-master .jsn-bootstrap .placeholder {
    color: #aaa;
}

.jsn-uniform.jsn-master .jsn-bootstrap select {
    height: auto;
}

.jsn-master .jsn-bootstrap .jsn-inline {
    display: inline;
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}

.jsn-uniform.jsn-master .jsn-bootstrap .btn.btn-icon [class^="icon-"], .jsn-master .jsn-bootstrap .btn.btn-icon [class*=" icon-"] {
    margin: 0;
}

.jsn-master .jsn-bootstrap .jsn-style-dark .ui-state-highlight {
    text-shadow: none;
}

.jsn-master .jsn-bootstrap .currency-value,
.jsn-master .jsn-bootstrap .currency-cents {
    float: left;
}

.jsn-master .jsn-bootstrap .currency-cents {
    margin-left: 15px;
}

.jsn-master .jsn-bootstrap .currency-cents:before {
    content: ".";
    display: block;
    width: 5px;
    position: absolute;
    margin-left: -9px;
    margin-top: 5px;
}

.jsn-master .jsn-bootstrap .currency-cents .controls-inner input {
    margin: 0;
}

.jsn-master .jsn-bootstrap .currency-value .jsn-help-block-inline,
.jsn-master .jsn-bootstrap .currency-cents .jsn-help-block-inline {
    font-size: 13px;
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.jsn-master .jsn-bootstrap .currency-value .jsn-help-block-inline {
    margin-left: 30px;
}

.jsn-master .jsn-bootstrap .jsn-field-prefix {
    margin: 4px;
}

.hide {
    display: none;
}

button.btn.prev.hide, button.btn.next.hide {
    display:none !important;
}

.jsn-master .jsn-bootstrap .jsn-uf-select2-dropdown{
    position: absolute;
}
.jsn-master .jsn-bootstrap .form-search .jsn-group-field input,
.jsn-master .jsn-bootstrap .form-inline .jsn-group-field input,
.jsn-master .jsn-bootstrap .form-horizontal .jsn-group-field input,
.jsn-master .jsn-bootstrap .form-search .jsn-group-field textarea,
.jsn-master .jsn-bootstrap .form-inline .jsn-group-field textarea,
.jsn-master .jsn-bootstrap .form-horizontal .jsn-group-field textarea,
.jsn-master .jsn-bootstrap .form-search .jsn-group-field select,
.jsn-master .jsn-bootstrap .form-inline .jsn-group-field select,
.jsn-master .jsn-bootstrap .form-horizontal .jsn-group-field select,
.jsn-master .jsn-bootstrap .form-search .jsn-group-field .help-inline,
.jsn-master .jsn-bootstrap .form-inline .jsn-group-field .help-inline,
.jsn-master .jsn-bootstrap .form-horizontal .jsn-group-field .help-inline,
.jsn-master .jsn-bootstrap .form-search .jsn-group-field .uneditable-input,
.jsn-master .jsn-bootstrap .form-inline .jsn-group-field .uneditable-input,
.jsn-master .jsn-bootstrap .form-horizontal .jsn-group-field .uneditable-input,
.jsn-master .jsn-bootstrap .form-search .jsn-group-field .input-prepend,
.jsn-master .jsn-bootstrap .form-inline .jsn-group-field .input-prepend,
.jsn-master .jsn-bootstrap .form-horizontal .jsn-group-field .input-prepend,
.jsn-master .jsn-bootstrap .form-search .jsn-group-field .input-append,
.jsn-master .jsn-bootstrap .form-inline .jsn-group-field .input-append,
.jsn-master .jsn-bootstrap .form-horizontal .jsn-group-field .input-append {
    margin-bottom: 9px;
}

.jsn-uniform.jsn-master .jsn-bootstrap .row-fluid input.span12 {
    width: 97%;
}
.jsn-uniform form{
	display: block;
}
/**
Fix captcha google
**/
html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap #recaptcha_area #recaptcha_response_field {
    right: 0;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap #recaptcha_area .recaptcha_r2_c1 {
    background: url("http://www.google.com/recaptcha/api/img/white/sprite.png") no-repeat scroll -27px 0 transparent;
    height: 57px;
    width: 9px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap #recaptcha_area .recaptchatable .recaptcha_r2_c2 {
    background: url("http://www.google.com/recaptcha/api/img/white/sprite.png") no-repeat scroll -18px 0 transparent;
    height: 57px;
    width: 9px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap #recaptcha_area .recaptchatable .recaptcha_r3_c1 {
    background: url("http://www.google.com/recaptcha/api/img/white/sprite.png") no-repeat scroll -9px 0 transparent;
    height: 63px;
    width: 9px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap #recaptcha_area .recaptchatable .recaptcha_r3_c3 {
    background: url("http://www.google.com/recaptcha/api/img/white/sprite.png") no-repeat scroll 0 0 transparent;
    height: 63px;
    width: 9px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls div.choices,
html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls div.checkboxes {
    margin-right: 15px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-prepend .add-on {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-append .btn {
    border-radius: 4px 0 0 4px;
    margin-right: -1px;
}
html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .jsn-columns-container.jsn-columns-count-no .jsn-column-item {
    float:right;
    margin-left:20px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-append .uneditable-input,
html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-append select,
html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-append input {
    border-radius: 0px 4px 4px 0px;
}

html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-prepend input,
html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-prepend select,
html[dir="rtl"] .jsn-uniform.jsn-master .jsn-bootstrap .control-group .controls .input-prepend .uneditable-input {
    border-radius: 4px 0px 0px 4px;
}

/*==================== SUBMISSIONS MANAGER ====================*/
#submissions-list table .data_created_at,
#submissions-list table .data_created_by,
#submissions-list table .data_browser,
#submissions-list table .data_country,
#submissions-list table .data_ip {
    width: 100px;
}

#submissions-list table .data_os {
    width: 130px;
}

#submissions-list .jsn-bglabel {
    padding: 100px 50px;
    font-size: 24px;
    color: #666;
}

#submission-fields-list {
    min-height: 300px;
    position: absolute;
    width: 320px;
}

#form_field {
    width: 100%;
    float: left;
}

.nofield {
    color: #CC0000;
    float: left;
    font-weight: bold;
    padding-top: 5px;
}

#form_field.jsn-items-list {
    border: 1px solid #CCCCCC;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
}

.pane-sliders {
    position: static;
}

#form_field label,
#form_field input,
#submission-fields-list label,
#submission-fields-list input {
    float: none;
    margin: 0 5px 0 0;
}

#submission-fields-list .popover-content {
    padding: 0;
}

#submission-fields-list .jsn-items-list {
    height: 300px;
    border: none;
    overflow: auto;
}

#submission-fields-list .jsn-item,
#form_field .jsn-item {
    padding: 5px;
}

#submission-fields-list .field-disabled,
#form_field .field-disabled {
    cursor: default;
}

#submission-fields-list hr,
#form_field hr {
    margin: 10px 0;
}

#submission-fields-list .form-actions {
    border-top: 1px solid #ccc;
    margin: 0;
}

#submission-fields-list .form-actions .btn {
    float: none;
}

#submission-fields-list .popover {
    width: 100%;
}

.jsn-bootstrap .jsn-submission-btn-save {
    text-align: right;
}

.jsn-bootstrap .jsn-fieldset-filter {
    margin: 10px 0px;
}

#submission-fields-list {
    text-align: left;
}

/*==================== SUBMISSION SETINGS ====================*/
#submission-settings .submission-data h3 {
    font-weight: bold;
    font-size: 20px;
}

#submission-settings .submission-data dt {
    font-size: 14px;
    color: #000;
}

#submission-settings .submission-data dd {
    margin: 5px 0px 15px 0;
}

#submission-settings .submission-data .thumbnail {
    display: inline-block;
}

#submissions-list img,
#submission-settings .submission-data .thumbnail > img {
    max-height: 200px;
}

#submission-settings .submission-content {
    position: relative;
}

#submission-settings .jsn-page-actions {
    position: absolute;
    right: 5px;
    top: 5px;
}

#submission-settings .jsn-form-bar {
    z-index: 1;
    position: relative;
}

.jsn-master #submission-settings .jsn-tabs .jsn-section-content {
    border: none;
}

.jsn-master .jsn-section-header a {
    text-shadow: none;
}

.jsn-master .jsn-bootstrap .jsn-section-header .btn .caret {
    margin-bottom: auto;
}

#submissions-list ul.pagenav li a, #submissions-list div.pagination ul li a {
    margin: 0;
}

.jsn-master .jsn-narrow .jsn-input-mini-fluid,
.jsn-master .jsn-narrow .jsn-input-small-fluid,
.jsn-master .jsn-narrow .jsn-input-medium-fluid,
.jsn-master .jsn-narrow .jsn-input-xlarge-fluid,
.jsn-master .jsn-narrow .jsn-input-fluid,
.jsn-master .jsn-narrow .jsn-columns-container.jsn-columns-count-two .jsn-column-item,
.jsn-master .jsn-narrow .jsn-columns-container.jsn-columns-count-three .jsn-column-item,
.jsn-master .jsn-narrow .jsn-columns-container.jsn-columns-count-no .jsn-column-item,
.jsn-master .jsn-bootstrap .jsn-narrow .input-small,
.jsn-master .jsn-bootstrap .jsn-narrow .input-medium,
.jsn-master .jsn-bootstrap .jsn-narrow .input-file,
.jsn-master .jsn-bootstrap .jsn-narrow .jsn-column-item.jsn-uniform-others textarea.jsn-value-Others {
    width: 95% !important;
}

.jsn-master .jsn-narrow .jsn-row-container label {
    display: block;
    float: none !important;
    text-align: left !important;
}

.jsn-master .jsn-narrow .jsn-row-container label + .controls {
    margin-left: 0;
}

.jsn-master .jsn-narrow .jsn-daterangepicker.hasDatepicker {
    width: 40% !important;
}

.jsn-master .jsn-bootstrap .jsn-narrow .jsn-column-item.jsn-uniform-others {
    clear: both;
}

.jsn-master .jsn-bootstrap .jsn-narrow .control-group .row-fluid .span6 {
    clear: both;
    margin-left: 0;
    width: 100%;
}

.jsn-master .jsn-bootstrap .jsn-narrow .control-group .currency-value {
    width: 50%;
    float: left;
}

.jsn-master .jsn-bootstrap .jsn-narrow .control-group .currency-cents {
    float: left;
    width: 48%;
    margin-left: 0;
}

.jsn-master .jsn-bootstrap .jsn-narrow .control-group .currency-cents:before {
    margin-left: -7px;
}

.jsn-master .jsn-bootstrap .jsn-narrow .control-group .currency-value input,
.jsn-master .jsn-bootstrap .jsn-narrow .control-group .currency-cents input {
    width: 50% !important;
}

.jsn-bootstrap .daterangepicker .ranges li {
    margin: 0px 0px 8px 0px;
}

html[dir="rtl"] .jsn-master .jsn-narrow .jsn-row-container label {
    float: right !important;
}

/* Google Maps */

/** General */
.google_maps .buttonize {
    cursor: pointer;
    text-shadow: 1px 1px 1px #222;
    font-weight: bold;
    color: #fff;
    padding: 5px 1em;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#008595), to(#02748c));
    background: -moz-linear-gradient(top, #008595, #02748c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #008595, endColorstr = #02748c);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#008595, endColorstr=#02748c)";
}

.google_maps .buttonize a:hover {
    text-decoration: none;
}

.google_maps .gradient {
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea));
    background: -moz-linear-gradient(top, #fff, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffffff, endColorstr = #eaeaea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)";
}

#visualdesign-options-values .map {
    width: 100%;
    height: 400px;
}

.google_maps .streetview {
    width: 100%;
    height: 300px;
}

.google_maps .lt {
    float: left;
}

.google_maps .rt {
    float: right;
}

.google_maps .txt-shadow-w {
    text-shadow: 1px 1px 1px #fff;
}

.google_maps .txt-shadow-b {
    text-shadow: 1px 1px 1px #222;
}

.google_maps.rounded {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.google_maps .shadow {
    -moz-box-shadow: 0px 2px 4px #999;
    -webkit-box-shadow: 0px 2px 4px #999;
    box-shadow: 0px 2px 4px #999;
}

.google_maps .item {
    padding: 1em;
    margin: 0 0 2em;
}

/** Benchmark */
.google_maps div.benchmark {
    clear: both;
    overflow: auto;
    color: #fff;
    background: #02748c;
    padding: 1em;
    margin: 0 0 1em;
}

.google_maps div.benchmark .benchmark-result {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 1em 0 0;
    line-height: 35px;
}

.google_maps div.benchmark .benchmark-iteration {
    font-weight: bold;
    margin: 0;
}

.google_maps div.benchmark .benchmark-title {
    margin: 0;
}

/** Syntax highlighter */
.google_maps pre.prettyprint {
    background: #f4f4f4;
    padding: 1.5em;
    border: none;
    margin: 0 0 1em;
}

.google_maps .summary {
    font-size: 1.3em;
    cursor: pointer;
    color: #EE2C74;
}

.google_maps .ui-dialog-vevent .summary {
    margin: 0.5em 0 0 0;
    display: block;
}

.google_maps .ui-dialog-vevent .dtstart {
    display: none;
}

.google_maps .ui-dialog-vevent .website {
    margin: 0 0 1em;
}

.google_maps img {
    max-width: none;
}

.google_maps .gm-style-iw .thumbnail img {
    max-width: 105px;
    max-height: 105px;
    float: right;
}

.google_maps .gm-style-iw {
    max-width: 350px;
    max-height: 200px;
}

#submissions-list .jsn-bootstrap strong,
#submission-settings.jsn-bootstrap strong {
    margin-right: 5px;
}

.jsn-uniform .jsn-bootstrap .text-center {
    text-align: center;
}

.google_maps .gm-style-iw>div {
    overflow: visible !important;
}

.google_maps .gm-style-cc {
    display: none;
}

.daterangepicker select.yearselect {
    width: 45% !important;
}

.daterangepicker select.monthselect {
    width: 65% !important;
}

.ui-timepicker-div select {
    width: auto;
}

.jsn-bootstrap .gm-style-iw .thumbnail .caption h4 {
    clear: none;
}

.jsn-uniform .jsn-bootstrap .form-horizontal .control-label {
    width: 173px;
	text-align: left;
}

.jsn-bootstrap .jsn-form-content .control-group {
    width: 100%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#form-design-content .jsn-element-content .control-label .icon-question-sign{
    font-weight: normal;
}
.jsn-uniform .alert-message{color: #666 !important;background:#dff0d8 !important;}
.jsn-uniform .alert-heading{color: #666 !important;}
/************************************************************************************
smartphone layout (320 - 480): everything is layout in single column
*************************************************************************************/
@media only screen and (max-width: 480px), (max-device-width: 480px) {
	.jsn-uniform .table-striped{
		font-size: 9px !important;
	}
	.jsn-bootstrap .form-horizontal .controls{
        margin-left: 0px !important;
    }
    .jsn-master .jsn-input-mini-fluid,
    .jsn-master .jsn-input-small-fluid,
    .jsn-master .jsn-input-medium-fluid,
    .jsn-master .jsn-input-xlarge-fluid,
    .jsn-master .jsn-input-fluid,
    .jsn-master .jsn-columns-container.jsn-columns-count-two .jsn-column-item,
    .jsn-master .jsn-columns-container.jsn-columns-count-three .jsn-column-item,
    .jsn-master .jsn-columns-container.jsn-columns-count-no .jsn-column-item,
    .jsn-master .jsn-bootstrap .input-small,
    .jsn-master .jsn-bootstrap .input-medium,
    .jsn-master .jsn-bootstrap .input-file,
    .jsn-master .jsn-bootstrap .jsn-column-item.jsn-uniform-others textarea.jsn-value-Others {
        width: 95% !important;
    }
	.jsn-uniform #jsn-captcha{
		width: 136px !important;
	}
    .jsn-master .jsn-row-container label {
        display: block;
        float: none !important;
        text-align: left !important;
    }

    .jsn-master .jsn-row-container label + .controls {
        margin-left: 0;
    }

    .jsn-master .jsn-daterangepicker.hasDatepicker {
        width: 40% !important;
    }

    .jsn-master .jsn-bootstrap .jsn-column-item.jsn-uniform-others {
        clear: both;
    }

    .jsn-master .jsn-bootstrap .control-group .row-fluid .span6 {
        clear: both;
        margin-left: 0;
        width: 100%;
    }

    .jsn-master .jsn-bootstrap .control-group .currency-value {
        width: 50%;
        float: left;
    }

    .jsn-master .jsn-bootstrap .control-group .currency-cents {
        float: left;
        width: 48%;
        margin-left: 0;
    }

    .jsn-master .jsn-bootstrap .control-group .currency-cents:before {
        margin-left: -7px;
    }

    .jsn-master .jsn-bootstrap .control-group .currency-value input,
    .jsn-master .jsn-bootstrap .control-group .currency-cents input {
        width: 50% !important;
    }
    
}
#submissions-list table th a.hasTooltip {
    display: block !important;
}
.jsn-master .jsn-bootstrap .control-group tr td.likert_data_hidden
{
    display: none;
}
#submission-data .no-data{
    text-align: center;
    padding: 10px;
}
#submission-data .no-data span
{
    text-align: center;
    font-weight: bold;
}
.dropdown-randomize
{
    position: relative !important;
}
.dropdown-randomize.select2-offscreen
{
    display: none;
}


/*  RY added */


/**/
#jsn_form_1.jsn-master button.btn.next, .download_video{
    position: relative;
    float:left;
    background: #3BCCD0;
    color: #fff;
    display: block;
    border: 0px;
    border-radius: 1px;
    width:80px;
    height:32px;
    margin:0 auto;
    overflow: visible;
}


#jsn_form_1.jsn-master button.btn.next::after, .download_video::after {
    content:"";
    background-image: url("../../../../filesys/files/img_10.png");
    width: 35px;
    height: 100%;
    background-size: contain;
    right: -28px;
    top: 0;
    background-repeat: no-repeat;
    position: absolute;
}


#jsn_form_1.jsn-master button.btn.prev {
    position: relative;
    float:left;
    background: #3BCCD0;
    color: #fff;
    display: block;
    border: 0px;
    border-radius: 1px;
    width:80px;
    height:32px;
    margin:0 auto;
    margin-right:20px;
    /*display: none;*/
}

/*submit表單按鈕*/
._next-button {
    position: relative;
    float: left;
    background: #3BCCD0 !important;
    color: #fff;
    display: block;
    border: 0px;
    border-radius: 1px !important;
    width: 80px;
    height:32px;
    margin: 0 auto !important;
    padding: 0 !important;
    overflow: visible;
}

._next-button::after {
    content:"";
    background-image: url("../../../../filesys/files/img_10.png");
    width: 35px;
    height: 100%;
    background-size: contain;
    right: -28px;
    top: 0;
    background-repeat: no-repeat;
    position: absolute;
}




#jsn_form_1.jsn-master .btn-toolbar {
    margin:0 auto;
    width:200px;
    clear:both;
}


/*div.jsn-uniform button.btn.prev::after {
    content:"";
    background-image: url("../../../filesys/files/img_10.png");
    width: 31px;
    height: 100%;
    background-size: contain;
    right: -28px;
    background-repeat: no-repeat;
    position: absolute;
}*/



/*  設定每首音樂背景的屬性 */
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item {
    width: 150px;
    height: 179px;
    background-position-y: top !important;
    background-size: 146px !important;
    margin: 10px 10px 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    outline-style: solid;
    outline-width: 2px;
    outline-color: #ccc;
    position: relative;
}



/*第？步 說明文字*/
.explanation_text .control-label {
    color: #eaa63f !important;
    font-size: 24px !important;
    display: block;
    margin-bottom: 25px;
}



/*取得fb相簿 按鈕*/
.fb-album-container label {
    border: 1px solid !important;
    display: block;
    float: left;
    padding: 10px;
    background: #2951c2;
    color: #fff !important;
    border-radius: 5px;

}


#jsn_form_1.jsn-master div[data-value='4'] div.jsn-row-container:nth-child(2) .span6 {
    border: 1px solid #849ddf;
    border-radius: 9px;
    margin-bottom:  20px;
    overflow: hidden;
}

.head_title, .foot_title {
    background:#d9e2ff;
    border-top-left-radius:9px;
    border-top-right-radius:9px;
}


.head_caption, .foot_caption {
    background-image: url("../../../../filesys/files/step03_03.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 100%;
}


.head_caption .lbl-allowOther, .foot_caption .lbl-allowOther {
    float:left;
}


/*.head_caption textarea, .foot_caption textarea {
    width: 15em;
    height: 1em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    float: left;
}*/

.head_caption .jsn-uniform-others, .foot_caption .jsn-uniform-others {
    position:relative;
}

/*.head_caption .jsn-value-Others, .foot_caption .jsn-value-Others {
    position: absolute;
    left: 20px;
}*/

.head_caption .jsn-column-item, .foot_caption .jsn-column-item {
    margin: 7px 0;
}



/*  將原本的radio button隱藏 */
#jsn_form_1.jsn-master div[data-value="3"] .controls  label  > input { /* HIDE ORG RADIO & CHECKBOX */
  /*visibility: hidden;*/
  display:none !important;
  position: absolute;
}


/* RADIO & CHECKBOX STYLES */
#jsn_form_1.jsn-master div[data-value="3"] .controls  .jsn-column-item > i{     /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  width:  30px;
  height: 30px;
  /*border-radius: 50%;*/
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #fff;
  /*border: 1px solid gray;*/
  background: gray;
  /*float:left;*/
  position: absolute;
  left: -2px;
  top: -2px;
}

/* CHECKBOX OVERWRITE STYLES */
#jsn_form_1.jsn-master div[data-value="3"] .controls  .jsn-column-item:hover > i{  /*滑鼠游標經過時*/
  box-shadow: inset 0 0 0 3px #fff;
  background: gray;
}

/* 點擊時的樣式*/
/*#jsn_form_1.jsn-master div[data-value="3"] .controls  .jsn-column-item input:checked + i{ 
  box-shadow: inset 0 0 0 3px #fff;
  background: orange;
}*/


/*把radio 按鈕擴大到整個圖片*/
#jsn_form_1.jsn-master div[data-value="3"] .controls .radio {
    display: block;
    /*float: left;*/
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 120px;
    font-size: 16px;
}



/* ==== */

/*#jsn_form_1.jsn-master div[data-value="3"] .controls  label  > input[type="radio"]
{
    background: #999;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}


#jsn_form_1.jsn-master div[data-value="3"] .controls label  input[type="radio"]:checked
{
    background: #0080FF;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}*/

#jsn_form_1.jsn-master .jsn-bootstrap .jsn-form-content .control-group.ui-state-highlight {
    background-color: transparent  !important;
    border-color: transparent !important;
}

#jsn_form_1.jsn-master  .classic_music .jsn-column-item { float:left; }

.local_photo img {
    width:100px;
}








/* for 本機上傳 fb 上傳頁籤用*/

#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) {
    clear: left;
    /*width: 400px;*/
    width:100%;
    margin: 10px 0;
}
#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) ul.tabs {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) ul.tabs li {
    float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;    /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
    border: 1px solid #999;
    border-left: none;
    background: #707070;
    margin: 0;
}
#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) ul.tabs li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}
#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) ul.tabs li a:hover {
    background: #947474;
}
#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) ul.tabs li.active  {
    background: #2951c2;
    border-bottom: 1px solid#fff;
}
#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) ul.tabs li.active a:hover {
    background: #5c54c5;
}
#jsn_form_1.jsn-master div[data-value='2'] .jsn-row-container:nth-child(2) div.jsn-container-left {
    clear: left;
    width: 100%;
    /*border: 1px solid #999;*/
    border-top: none;
    /*background: #fff;*/
}
div.jsn-container-left .control-group {
    padding: 20px;
}


div#status {clear:left;}




/*調整文字樣式*/

.explanation_text {
    font-size: 14px;
    color: #1e1e1e;
    line-height: 12px;
}

/**/




/*    每首音樂的封面圖 */
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(1) {
    background: url("../../../../filesys/files/music/mesic_03.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(2) {
    background: url("../../../../filesys/files/music/mesic_05.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(3) {
    background: url("../../../../filesys/files/music/mesic_07.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(4) {
    background: url("../../../../filesys/files/music/mesic_09.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(5) {
    background: url("../../../../filesys/files/music/mesic_15.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(6) {
    background: url("../../../../filesys/files/music/mesic_16.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(7) {
    background: url("../../../../filesys/files/music/mesic_18.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(8) {
    background: url("../../../../filesys/files/music/mesic_20.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(9) {
    background: url("../../../../filesys/files/music/mesic_25.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(10) {
    background: url("../../../../filesys/files/music/mesic_26.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(11) {
    background: url("../../../../filesys/files/music/mesic_28.jpg") left center no-repeat;    
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(12) {
    background: url("../../../../filesys/files/music/mesic_30.jpg") left center no-repeat;    
}


/*以下是專輯作者名稱*/
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(1) .radio:after {
    content: 'Audioautix';
    font-size: 12px;
    color: #797979;
    display:block;
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(2) .radio:after {
    content: 'Silent Partner';
    font-size: 12px;
    color: #797979;
    display:block;
}
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(3) .radio:after {
    content: 'Audioautix';
    font-size: 12px;
    color: #797979;
    display:block;
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(4) .radio:after {
    content: 'Topher Mohr';
    font-size: 12px;
    color: #797979;
    display:block;
}
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(5) .radio:after {
    content: 'Topher Mohr';
    font-size: 12px;
    color: #797979;
    display:block;
}
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(6) .radio:after {
    content: 'Jason Farnham';
    font-size: 12px;
    color: #797979;
    display:block;
}
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(7) .radio:after {
    content: 'Jimmy Fontanez';
    font-size: 12px;
    color: #797979;
    display:block;
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(8) .radio:after {
    content: 'Kevin MacLeod';
    font-size: 12px;
    color: #797979;
    display:block;
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(9) .radio:after {
    content: 'United States Marine Band';
    font-size: 12px;
    color: #797979;
    display:block;
}

#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(10) .radio:after {
    content: 'Kevin MacLeod';
    font-size: 12px;
    color: #797979;
    display:block;
}
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(11) .radio:after {
    content: 'Silent Partner';
    font-size: 12px;
    color: #797979;
    display:block;
}
#jsn_form_1.jsn-master div[data-value="3"] .jsn-column-item:nth-child(12) .radio:after {
    content: 'Silent Partner';
    font-size: 12px;
    color: #797979;
    display:block;
}


@media (max-width: 767px) {

    #jsn_form_2.jsn-master .success-uniform p img:first-child {
        display: none;
    }

    #jsn_form_2.jsn-master .success-uniform .noteTableExplain td a span{
        font-size: 11px !important;

    }

    #mcate {
        font-size: 18px !important; 
        text-align: center;
        margin-bottom: 0px !important;
        margin-top:60px !important;
    }

    #mitem {
        margin: 0px 0px !important;
        line-height: 40px !important;
        font-size:20px !important;
    }



    #mScore {
        margin-top:0px;
    }
        

    .intro_text1 {
        padding: 0px !important;
    }

    .control-group._quesCateRadio {
        padding:0px !important;
    }

    #jsn_form_2.jsn-master .jsn-column-item {
        height: 44px !important;
    }







    #jsn_form_2.jsn-master div[data-value='11'] .jsn-row-container.row-fluid.intro_text1 {
        width:100% !important;
        height: 422px !important;
        background-size: 100%;
    }

    div.explanation_text  {
        line-height: 24px;
    }

    .family_intro_image img {
        width: 40% !important;
        height: auto !important;
        top: -100px;
    }
    

    .family_intro_image {
        position:relative;
        top:-70px;
    }

    /*.local_photo input {
        padding-bottom: 50px !important;
        font-size: 12px !important; 
    }*/

    /*.local_photo input::after {
        font-size: 12px !important;
    }*/

    #clear_btn_container:before {
        content: '*若要更換照片，請按下此按鈕後，重新進行「選擇檔案」';
        color: #ff3333;
        margin-left: 0em;
        font-size: 12px;
    }

    #clear_btn_container:after {
        content: '' !important;
    }

    .local_photo img {
        width:80px;
        height:auto;
    }


}



#fblogin img { width:140px; }

#fblogout img { width:40px; }
#fblogout {margin-left:20px;}


.local_photo input + span:after {
    content: '*請一次上傳2至10張照片，檔案格式限定為jpg或jpeg。';
    color: #ff3333;
    /*margin-left: 10em;*/
    font-size: 12px;
}

#clear_btn_container:after {
    content: '*若要更換照片，請按下此按鈕後，重新進行「選擇檔案」';
    color: #ff3333;
    margin-left: 6em;
    font-size: 12px;
}

.local_photo .controls
{
    width: 80%;
    margin:auto;
    margin-top:10px;
}


.thumbnail{

    height: 100px;
    margin: 10px; 
    float: left;
}
#clear_btn_container{
   display:none;
}
#result {
    border: 4px dotted #cccccc;
    display: none;
    float: right;
    margin:0 auto;
    width: 100%;
    /*position:absolute;*/
}


/*.info_container {display: none;}*/




.message-uniform .share_to_fb {
    width:250px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}


.message-uniform .share_to_fb img {
    width:250px;
}

.message-uniform .download_video {
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-right: 10px;

}



/*  家庭聚會卡 */

._numberofgrp .controls .select2-container {
    width: 450px;
    display: inline-block;
}
._numberofgrp .controls .select2-container::before {
    content: "今日共有";
    float:left;
    font-size: 16px;
    line-height:30px;
}

._numberofgrp .controls .select2-container::after {
    content: "組，分別是：";
    float:left;
    font-size: 16px;
    line-height:30px;
}

._numberofgrp .controls .select2-container .select2-choice {
    float:left;
}



div[class*="_group"] label, div[class*="_group"] .controls  {
    float:left;
}




/*  將原本的radio button隱藏 */
._quesCateRadio .controls  label  > input { /* HIDE ORG RADIO & CHECKBOX */
  /*visibility: hidden;*/
  display:none !important;
  position: absolute;
}


._quesCateRadio .jsn-column-item {
    width: 90%;
    height: 79px;
    background-position-y: top !important;
    background-size: 100% !important;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0);
    position: relative;
}

/*把radio 按鈕擴大到整個圖片*/
._quesCateRadio .controls .radio {
    display: block;
    /*float: left;*/
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    text-indent: -9999999px;
}


/*  卡片圖片 */
._quesCateRadio .jsn-column-item:nth-child(1) {
    background: url("../../../../components/com_gathercard/assets/images/choose1.png") left center no-repeat;    
}

._quesCateRadio .jsn-column-item:nth-child(2) {
    background: url("../../../../components/com_gathercard/assets/images/choose2.png") left center no-repeat;    
}

._quesCateRadio .jsn-column-item:nth-child(3) {
    background: url("../../../../components/com_gathercard/assets/images/choose3.png") left center no-repeat;    
}

._quesCateRadio .jsn-column-item:nth-child(4) {
    background: url("../../../../components/com_gathercard/assets/images/choose4.png") left center no-repeat;    
}

._quesCateRadio .jsn-column-item:nth-child(5) {
    background: url("../../../../components/com_gathercard/assets/images/choose5.png") left center no-repeat;    
}


/*背景框視覺*/

.intro_text1 {
    padding: 10px;
    line-height: 30px;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    /*font-weight: bold;*/
    background-color: #aabdf2 !important;
    margin-top: 10px;
}


/*按鈕視覺*/

#jsn_form_2.jsn-master button.btn.next, #jsn_form_2.jsn-master button.btn.prev, #missionDone {
    position: relative;
    /*float:left;*/
    background: #EDB14B;
    color: #fff;
    display: inline-block;
    border: 0px;
    border-radius: 5px;
    width:80px;
    height:32px;
    margin:0 auto;
}

#missionDone {
    margin-left:10px;
}


#jsn_form_2.jsn-master button.btn.next::after {
    content:"";
    background-image: url("../../../../filesys/files/btn_04.png");
    width: 35px;
    height: 100%;
    background-size: contain;
    right: -28px;
    top: 0;
    background-repeat: no-repeat;
    position: absolute;
}


#jsn_form_2.jsn-master .alert-success {
    background-color: inherit;
    border: 0px;
}

#jsn_form_2.jsn-master button.close {
    display: none;
}


#jsn_form_2.jsn-master .alert-success ul li {
    list-style: disc !important;
}

#jsn_form_2 {
    clear: both;
}


#jsn_form_2.jsn-master div[data-value='11'] .jsn-row-container.row-fluid.intro_text1 {
    background-image: url("../../../../templates/system/images/card1.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 700px;
    padding: 20px 40px 40px 20px;
    margin: 0 auto;
    display: table;
    text-align: center;
    padding-top: 140px;
}


#mcate {
    font-size: 24px;
    line-height: 50px;
}

#mitem {
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
}

#mScore {
    font-weight: bold;
    color: #c0504d;
}



#jsn_form_2.jsn-master .success-uniform {
    padding: 8px 0px 8px 4px;
    line-height: 30px;
}

#jsn_form_2.jsn-master .success-uniform ul {
    margin-left:20px;
}

#jsn_form_2.jsn-master div[data-value='10'] .jsn-column-item label{
    cursor: pointer;
}



#jsn_form_2.jsn-master div[data-value='6'] .jsn-row-container.row-fluid.intro_text1 {
    margin-bottom:0px;
}

#jsn_form_2.jsn-master .form-actions {
    margin-top:0px;
}


#jsn_form_2.jsn-master .jsn-bootstrap p {
    margin-bottom: 0px;
}