@charset "utf-8";

.tab-box {
	position: relative;
	/*padding-bottom:20px;*/
}

.tab-title {
	top: 9px;
	/*width: 82px;*/
	text-align: center;
}

.tab-title_news {
	top: 0px;
}

.tab-title_hot {
	top: 16px;
}

.tab-title a,
.tab-item div.active {
	/*font-size: 1em;*/
	display: block;
	width:auto;
	/*height: 25px;*/
	/*line-height: 25px;*/
	color:#FFF;
}

.tab-link,
.tab-link-span
{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
	/*height:30px;*/
}

a.tab-link_news {
	/*background:url('../../../../templates/system/images/tabs_news_on.png') center center no-repeat;*/
	background-color:#81878f;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#81878f, endColorstr=#979ea8);
	background:linear-gradient(to bottom, #81878f 0%, #979ea8 100%);
	font-weight:700;
	color: #fff;
	/*border-bottom: 1px solid #5f9f83;*/
}

.tab-link_hot {
	background:url('../../../../templates/system/images/tabs_hot_out.png') center center no-repeat;
	color:#848484;
	font-weight:bold;
}

.tab-title a:hover, .tab-title a.active{
	text-decoration: none;
	color: #22366f;
}

.tab-title a .tab-link-span, .tab-title a.hover .tab-link-span, .tab-title a.active .tab-link-span{
	/*height:30px;*/
	width: 80px;
}

.tab-title a.tab-link_news.hover , .tab-title a.active.tab-link_news{
	color: #555;
	/*background:url('../../../../templates/system/images/tabs_news_out.png') center center no-repeat;*/
	filter: none;
	background: #e6e9ed;
}

.tab-title a.hover .tab-link_hot, .tab-title a.active .tab-link_hot{
	color: #FFFFFF;
	background:url('../../../../templates/system/images/tabs_hot_on.png') center center no-repeat;
}

.article-tab {
	position: relative;
	padding-bottom: 60px;
}


.tab-content {
	top: 50px;
}

.tab-separator {
	font-size: 18px;
	font-weight: bold;
	color: #b9d774;
}
