@charset "utf-8";

.mod_entab1,
.mod_entab2,
.mod_entab3
{
	position:relative;
	clear:both;
	margin-bottom:35px;

}
.tab-box {
	position: relative;
	
	}


.tab-title a,
.tab-item div.active {
	font-size: 15px;
	display: block;
	width: 92px;
	height: 34px;
	line-height: 26px;
	text-align: center;
}


.tab-title a {
	color:#000000;
}


.article-tab {
	position: relative;
	padding-bottom: 60px;
}

.tab-title {	
	top: 0px;
}



.tab-content {
	background:#ffffff;
	top: 35px;
	
}

.tab-title a:hover, .tab-title a.active
{	
	color: #000000;
	font-weight:bold;
	text-decoration: none;
}
.mod_entab1 .tab-title a:hover, .mod_entab1 .tab-title a.active
{	
	background:url(../../../../templates/en/images/en_tabbox1_active.jpg) left top no-repeat;
}

.mod_entab2 .tab-title a:hover, .mod_entab2 .tab-title a.active
{	
	background:url(../../../../templates/en/images/en_tabbox2_active.jpg) left top no-repeat;
}

.mod_entab3 .tab-title a:hover, .mod_entab3 .tab-title a.active
{	

	background:url(../../../../templates/en/images/en_tabbox3_active.jpg) left top no-repeat;
}

.mod_entab1 .tab-item 
{
	background:url(../../../../templates/en/images/tabbox1_bg.jpg) left top repeat-x;
}

.mod_entab2 .tab-item 
{
	background:url(../../../../templates/en/images/tabbox2_bg.jpg) left top repeat-x;
}

.mod_entab3 .tab-item 
{
	background:url(../../../../templates/en/images/tabbox3_bg.jpg) left top repeat-x;
	<background:url(../../../../templates/en/images/tabbox3_bg.jpg) left 3px repeat-x;
}
