.user {
}
.user ul {
}
.user ul li {
    display: inline-block;
    margin: 0 0 15px;
    width: 100%;
}
.user ul li a {
}
.user .quiz-user-title {
}
.user .quiz-user-title a {
	font-weight:bold;
}  
.user .quiz-username {
    color: #000000;
    font-weight: 600;
}
.user .quize-score, .user .quiz-spent-time {
    font-weight: 600;
    padding: 0 5px 0 0;
}
.user ul li .user_pic img {
    border-radius: 5px;
    float: left;
    margin: 3px 10px 0 0;
    max-height: 70px;
    width: auto;
}