<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
結婚滿10年，俗稱「錫婚」，期許夫妻感情如金屬錫一般的柔軟又美麗。無論是慶祝團聚的時刻，還是陪伴混亂煎熬的低潮期，10年的婚姻生活，酸甜苦辣的滋味在心頭，感謝對方一路的相伴，攜手承諾下一個10年。
<br><br>
<div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_postcards&view=jewelry" style="color: #333333;"><span style="font-size: 12pt;">回憶珠寶盒</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_vquiz&view=quizmanager&layout=score&id=2&amp;Itemid=270" style="color: #333333;"><span style="font-size: 12pt;">家庭三溫暖</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
