<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
俗稱「水晶婚」，意指夫妻之間的感情像水晶一樣透明。
有人說：簡單平凡就是幸福。
回過頭細數往日時光，生活的苦樂有人能一同承擔與分享，實則萬幸。知足、不計較的踏實情感，讓婚姻中充滿感謝，請繼續珍惜並時時為關係加溫。
還記得結婚當下，默默在心中許下的承諾是什麼嗎？ 
<br><br>
<div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_checklist&view=item2" style="color: #333333;"><span style="font-size: 12pt;">家庭存款簿</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
