<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
轉眼間，婚姻已經滿17個年頭。
與身旁的伴侶共同經歷了生活中的苦辣酸甜，一步一步，就這樣一同走了過來，試著表達對彼此的感謝，也學習珍惜現在的擁有，一步一步，讓彼此攜手同行，繼續幸福且踏實的婚姻之路。<br><br>
<div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_checklist&view=item2" style="color: #333333;"><span style="font-size: 12pt;">家庭存款簿</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
