<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
又稱作「綠松石」婚，綠松石是一種古老又美麗的寶石，象徵婚姻的歷久彌堅。
婚姻生活中平實、簡單，也不忘找機會向伴侶製造浪漫、表達愛，重溫戀愛的心動時刻，期許邁向下一個18年。<br><br>
<div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_checklist&view=item2" style="color: #333333;"><span style="font-size: 12pt;">家庭存款簿</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
