<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
	新婚階段，通常生活充滿新鮮感，期望擁有幸福的婚姻。幸福婚姻是有方法可尋的，如：跟伴侶成為好朋友、有共同的目標與價值、對彼此的承諾、共同的嗜好與興趣、親密關係表達、參與共同活動等等，讓婚姻生活更精彩。
<br><br>
<div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_content&view=article&id=15&Itemid=303" style="color: #333333;"><span style="font-size: 12pt;">牽手練習曲</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
