body.layout-radar .btn.nextbutton, body.layout-score .btn.nextbutton,  body.no-layout .btn.nextbutton {
    display: none;
}

input[type="checkbox"], input[type="radio"] {
	display: none;
}
input[type="checkbox"]+label, input[type="radio"]+label {
	cursor: pointer;
}
input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	content: "";
	display: inline-block;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	width: 19px;
}
input[type="checkbox"]+label:before {
	background: url(../images/check_radio_sheet.png)left top no-repeat;
}
input[type="checkbox"]:checked+label:before {
	background: url(../images/check_radio_sheet.png)-19px top no-repeat;
}
input[type="radio"]+label:before {
	background: url(../images/check_radio_sheet.png)-38px top no-repeat;
}
input[type="radio"]:checked+label:before {
	background: url(../images/check_radio_sheet.png)-57px top no-repeat;
}
input[type="checkbox"]:checked+label, input[type="radio"]:checked+label {
	font-weight: bold;
}
.scdiv {
	border: 1px solid red;
	width: 15px;
	height: 15px;
	background-color: red;
	display: inline-block;
	margin: 0 5px;
	vertical-align: bottom;
}
#dialogbox {

	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}
.board {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 95%;
	padding: 2.5%;
	display: inline-block;
	border:1px solid #cccccc;
}
.board table {
	width: 100%;
}
.board h3 {
	font-size: 24px;
	margin: 0 0 10px;
}

.board h5 {
    font-weight: 600;
    margin: 0 0 10px;
}
.board .vcat {
	background: #fff;
	padding: 1.5%;
	float: left;
	margin: 1%;
	width: 20%;
	text-align: center;
	transition: all 0.7s ease 0s;
	border: none;
	border-radius:6px;
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	min-height:240px;
}
.board .vcat:hover {
	box-shadow:0 0 0 4px rgba(0, 0, 0, 0.2);
}
.board .vcat:hover img {
	/*transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);*/
}
.board .vcat img {
    border: 2px solid #ddd;
    border-radius: 6px;
    max-height: 125px;
    max-width: 93%;
    padding: 2.5%;
    transition: all 0.7s ease 0s;
    width: auto;
}
.board .vcat .cat_img {
	display:inline-block;
	width:100%;
}

.board .vcat a.title {
    float: left;
    font-size: 18px;
    line-height: normal;
    margin: 15px 0 0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
	word-wrap:break-word;
}
#dialogbox .slides h4 {
	font-size: 14px;
	margin: 15px 0;
}
#dialogbox .slides .slide table {
	padding: 0 0 10px;
}
#dialogbox .slides .type {
	padding: 0 0 10px;
}
#dialogbox tr td p {
	margin: 10px 0;
}
#dialogbox .slides .chartscore {
	padding: 0;
}
#dialogbox .slides #chardiv {
	padding: 0;
}
#dialogbox #queryform {
	margin: 0;
}
#dialogbox #queryform label {
	float: left;
	width: 150px;
}
#dialogbox #queryform input {
	float: left;
	width: 250px;
	margin: 0 0 10px;
}
#dialogbox #queryform .addthis_toolbox {
	float: left;
	width: 150px;
}
.poploadingbox {
	display: none;
	background: #f5f5f5;
	border: 10px solid #ffffff;
	border-radius: 4px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.1) inset;
	height: 60px;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 200px;
	margin:-30px 0 0 -100px;
	z-index:9999;
}
.poploadingbox img {
	height: auto !important;
	width: auto !important;
	position: relative;
	top: 35%;
}
#message .message p {
	font-size: 15px;
	font-weight: bold;
}
#maindiv {
	/*border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;*/

	width: 95%;
	padding: 2.5%;
	display: inline-block;
	position: relative;
}
#maindiv h1 {
	margin: 0 0 15px;
}
.expend {
	border: 1px solid #fff;
	background: #fff;
	border-radius: 4px;
	display: block;
	height: auto;
	margin: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: auto;
	z-index: 999;
	box-shadow: 0 1px 3px #666666;
}
#palette #c_blue, .c_blue {
	background: none repeat scroll 0 0 #1d7ccc;
	display: inline;
}
#palette #c_red, .c_red {
	background: none repeat scroll 0 0 #ff3300;
	display: inline;
}
#palette #c_green, .c_green {
	background: none repeat scroll 0 0 #7cce06;
	display: inline;
}
#palette #c_orange, .c_orange {
	background: none repeat scroll 0 0 #fca40a;
	display: inline;
}
#palette #c_pink, .c_pink {
	background: none repeat scroll 0 0 #ff009c;
	display: inline;
}
#palette #c_gray, .c_gray {
	background: none repeat scroll 0 0 #ddd;
	display: inline;
}
#palette div {
	border-radius: 3px;
	cursor: pointer;
	float: left;
	height: 22px;
	margin: 2px;
	padding: 0px;
	width: 22px;
}
#skins .addsk {
	background: none repeat scroll 0 0 #fff;
	border-radius: 50%;
	padding: 2px;
	width: 25px;
}
.photopath {
/*box-shadow: 10px 0px 5px 15px rgba(0, 0, 0, 0.05) inset;*/

	/*padding: 11px;*/

}
.timediv {
    background: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    padding: 1%;
    width: 97.8%;
	margin:5px 0 0;
}
.score_title {
	font-weight:bold;
	font-size:14px;
}

.slides_part {
    clear: both;
    float: left;
    width: 100%;
}
.timediv .headertime {
	display:inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
	margin:0;
}
.timediv .completed_span {
	display:inline-block !important;
	width:auto !important;
	margin:0 !important;
	float:none !important;
	min-height:inherit !important;
}
.qbx {
	float: left;
	margin-right: 10px;
}
.quiz-ques {
	padding: 0;
	margin: 25px 0 0;
	width: 100%;
	min-height: 100px;
}
.q-options ul li {
	padding: 5px 0;
	list-style:none;
	margin:0;
}
.choic {
	margin: 0;
}
.quiz-ques p {
	font-weight: 600;
	padding: 0 0 15px;
	font-size: 18px;
}
.allbutton {

	display: inline-block;
	width: 100%;
	padding: 0;
	text-align:center;
}
.explanation {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 1%;
	width: 97.8%;
	background: #fff;
	border-radius: 4px;
	margin:8px 0;
}
.t_digit {
	/*background-color: #fff;
	border: 1px solid #ddd;*/
	color: #000;
	/*margin: 0 2px;
	padding: 1px 3px;*/
	/*text-align: center;
	width: 17px;*/
	display: inline-block;
}
.skins {
	float: right;
	position: relative;
	right: 0;
	top: -10px;
	width: auto;
}
.questimespan, .totaltimespan {
	display: inline-block !important;
	font-size: 14px;
	font-weight:bold;
	padding:0 5px 0 0;
	width:auto !important;
	margin:0 !important;
	float:none !important;
	min-height:inherit !important;
}
.question_time {
	display: inline-block;
	padding: 0 10px 0 0;
}
.total_time {
	display: inline-block;
}
#description {
	display: inline-block;
	width: 100%;
}
.desc {
	/*border: 1px solid #ccc;
	border-radius: 5px;
	padding: 2.5%;
	width: 94.5%;
	margin: 15px 0;*/
}
.countinue {
	border: 1px solid gray;
	border-radius: 4px;
	color: white;
	margin-left: 40%;
	margin-top: 2%;
	padding: 13px;
	text-align: center;
	width: 20%;
	background: none repeat scroll 0 0 wheat;
}
.skin_img {
	float: right;
	margin: 0;
}
.flip3D {
	margin: 0 auto;
	width: 250px;
}
.flip3D > .front {
	/*position: absolute;*/

	-webkit-transform: perspective(600px) rotateY(0deg);
	transform: perspective(600px) rotateY(0deg);
	background: #fc925d;
	width: auto;
	text-align: center;
	border-radius: 5px;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
	color: #fff;
	padding: 10px 25px;
	height: auto;
}
.flip3D > .back {
	/*position: absolute;*/

	-webkit-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);
	background: #fc925d;
	width: auto;
	text-align: center;
	border-radius: 5px;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
	height: 0;
}
.flip3D > .back a {
	color: #fff;
	text-decoration: underline;
}
.flip3D:hover > .front {
	transform: perspective(600px) rotateY(-180deg);
	color: #fff;
	height: 0;
	padding: 0;
}
.flip3D:hover > .back {
	transform: perspective(600px) rotateY(0deg);
	color: black;
	padding: 10px 25px;
	height: auto;
}
.nebutton, .skbutton, .babutton, .flag, .submitscore, .takeshot {
	display:inline-block;
	padding:0 2.5px;
}
.nebutton a, .skbutton a, .babutton a, .flag a {
	font-weight: 600;
}
.nebutton {
}
.skbutton {
}
.flag {
}
.babutton {
	display: none;
}
.submitscore {
	/*float: left;
	width: 33.33%;
	text-align: center;*/
}
.resultpreview {
	display:inline-block;
}
#showcorrectans {
	display: none;
	float: right;
	margin: 15px 0;
}
#showexplation {
	margin: 15px 15px;
	width: 100%;
    padding: 0;
    text-align: center;
}
#anstable {
	display: inline-block;
	width: 100%;
}
#anstable .q_title {
	text-align: center;
	font-size: 18px;
	background: #fc925d;
	color: #fff;
	padding: 5px 0px;
	border-radius: 4px 4px 0px 0px;
}
#anstable table {
	background: #ffffff;
	border: 1px solid #fc925d;
	padding: 1.5%;
	border-collapse: collapse;
}
#showcorrectans a, #showexplation a {
	display: inline-block;
	color: #fff;
}
#anstable table th, #anstable table tr td {
	border: 1px solid #ddd;
	text-align: center;
}
#anstable .table_part {
	padding: 1.5%;
	border: 1px solid #fc925d;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	/*margin:0 0 15px;*/
}
.textdisplay .text .result_text p {
	margin: 0;
}
.slides_part .chartscore {
/*background:#fff;*/

}
.slides_part .chartscore .text {
	padding: 0;
}
.slides_part .chartscore .textdisplay .result_text {
	padding:1.5% 0;
	text-align: center;
	font-size:16px;
}
.slides_part .chartscore .textdisplay .result_text span.uname {
	font-weight:bold;
}
.slides_part .chartscore .textdisplay table {
	border-collapse: collapse;
}
.slides_part .chartscore .textdisplay table th, .slides_part .chartscore .textdisplay table tr td {
	border: 1px solid #ddd;
	padding:5px 15px;
}
.slides_part .chartscore .textdisplay table th {
	background: #f9f9f9;
	text-align:right;
}
.chartscore #chardiv {
	padding: 1.5% 0;
}
body.contentpane {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	line-height: normal;
	color: #333;
}
.print_button {
	float: right;
	padding: 10px;
}
.all {
	padding: 1.5%;
}
#sbox-window.shadow, #sbox-window.shadow #sbox-content {
	background:#fff;
}
.qu_list {
	background: #f9f9f9;
	border-radius: 4px 4px 0 0;
	display: inline-block;
	padding: 7.5px 2.5%;
	width: 95%;
}
.qbz {
	display: inline-block;
	font-weight: bold;
	padding: 0 15px 0 0;
}
.qu_list h4 {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
}
.all table {
	/*border: 1px solid #ccc;*/
	border-top: 0;
	border-radius: 0 0 4px 4px;
	margin: 0 0 15px;
	border-collapse: collapse;
}
.all table tr th, .all table tr td {
	/*border: 1px solid #ccc;*/
	/*text-align: center;*/
}
.all table tr td p {
	margin: 0;
}
.main_box {
	display: inline-block;
	padding: 0;
	width: 97%;
}
.middle_box {
	border:1px solid #cccccc;
	float: left;
	clear: both;
	width: 100%;
	border-radius:5px;
	padding:1.5% 1.5%;
	position:relative;
}
.timediv .show_page {
	width:15%;
	float:left;
}
.timediv .livescore {
	float:left;
	width:20.33%;
	text-align:center;
}
.timediv .remaining_time {
	float:right;
	width:50.33%;
	text-align:right;
}
.board h1, #queryform h2, #dialogbox .quest_head h1 {
	margin-top:0;
	border-bottom:1px solid #cccccc;
	padding:0 0 5px;
	font-size: 16px;
	font-weight: bold;
	color: #b58024;
	margin-bottom: 10px;
}
.board h1.play_quiz {
	margin:0 !important;
}
.board .cat_text {
	padding:15px 0;
	font-size:18px;
	line-height:normal;
}
.desc p {
	margin:0 0 10px;
}
.desc .diffrent_text {
    color: #ff0000;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 10px;
}
.desc ul {
	padding:0 0 10px;
}
.desc ul li {
	list-style:square inside;
	padding:2.5px 0;
}
#description button {
    font-size: 18px;
    margin: 10px 0 0;
    padding: 15px 50px;
}
#queryform {
	clear:both;
}
#light_submitscore {}
#light_submitscore .score_submit {}
#light_submitscore .score_submit .submit_score_header {
	text-align:center;
}
#light_submitscore .score_submit .submit_score_header h2 {
	color: #ffffff;
    font-family: open sans;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 0 10px;
}
#light_submitscore .score_submit .submit_score_inner {
	background:#ffffff;
    border-radius: 5px;
    display: inline-block;
    padding: 2.5%;
    width: 95%;
}
#light_submitscore .score_submit .submit_score_inner .control-group {
	padding:0;
	margin:0;
}
#light_submitscore .score_submit .submit_score_inner .control-label {
	margin:0 2.5% 0 0;
    width: 30%;
}
#light_submitscore .control-group .controls {
	width:100%;
}
#light_submitscore .control-group .controls input {
	width:70%;
	margin:0 0 15px;
}
.middle_box .dialogbox .closeButton {
    padding: 0;
    position: absolute;
    right: -5px;
    text-align: right;
    top: -5px;
}
.middle_box .dialogbox .closeButton a .btn {
    border-radius: 50%;
    height: 30px;
    padding: 0;
    width: 30px;
}
#addinput .sradio input[type="checkbox"], #addinput .sradio input[type="radio"] {
    display:block;
}
.sub_category_list {
	clear:both;
	display:inline-block;
	width:100%;
	padding:0;
	height:auto;
}
.sub_category_list .subcategory {
	width:100%;
	display:none;
}
#anstable .q_title p {
	margin:0;
}
#anstable .all-quesion {
	height:460px;
	overflow:auto;
}
#light_submitscore .score_submit .submit_score_inner .control-group .snd_certificate, #light_submitscore .score_submit .submit_score_inner .control-group .dwnld_certificate {
	display:inline-block;
	padding:0 5px 0 0;
}

#startbutton {
	margin-top: 20px;
	text-align: center;
}

button[type="button"],
button[type="submit"],
button[type="reset"] {
	color: #fff;
	background-color: #80848b;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#737373, endColorstr=#575757);
	background:linear-gradient(to bottom, #737373 0%, #575757 100%);
	border: 0;
	border-radius: 0;
	border-top: 1px solid #898989;
	line-height: 21px;
	padding: 0 15px;
	margin: 5px 0;
	cursor: pointer;
}

.libra {
	width: 98%;
	margin: 0 auto;
	text-align: center;
}

.libra .machine_left {
	width: 200px;
}

.libra .machine_right {
	width: 124px;
}

.libra img {
	float: left;
	vertical-align: bottom
}

.libra .gif_img {
	margin-top: 260px;
}

.libra .score_item {
	display:inline;
	margin: 0 15px;
	font-size: 20px;
	font-weight: bold;
}

.libra .score_item span {
	color: #f00;
}


.balloon {
	width: 98%;
	margin: 0 auto;
	text-align: center;
}

.balloon .balloon_left {
	width: 50%;
}

.balloon .balloon_right {
	width: 50%;
}

.balloon img {
	float: left;
	vertical-align: bottom
}

#quiz_explanation #ex_2 {
	margin-top: 10px;
}

.continue {
	margin-top: 20px;
	text-align: center;
}