<div class="Item02_role"></div>
<br>
<div class="Content_role">
「十年修得同船渡，百年修得共枕眠」。夫妻兩人能攜手共度這麼多年，更珍惜如此得來不易的緣分，超過10年的婚姻生活，許多記憶的片段，點滴在心頭，花一點時間與伴侶回味過去10年甜蜜與哀愁，開創未來的相知與相惜。<br><br>
<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=jewelry" title="回憶珠寶盒">
		挑出年度家庭照片，製作影片送給彼此，再次回味。
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_vquiz&view=quizmanager&layout=score&id=2&Itemid=270" title="家庭三溫暖">
		做個測驗，評價家人之間的互動狀況。
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_postcards&view=jewelry" style="color: #333333;"><span style="font-size: 12pt;">回憶珠寶盒</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_vquiz&view=quizmanager&layout=score&id=2&amp;Itemid=270" style="color: #333333;"><span style="font-size: 12pt;">家庭三溫暖</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
