<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
14年的婚姻稱作「象牙婚」，意指婚姻隨著年日漸長，增加光輝與價值。婚姻之所以散發出美麗柔和的光輝，是因為兩人相依相守，彼此珍惜，讓我們共同感受對方一路的陪伴與包容，並且真心感謝、用心珍惜。<br><br>
<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=jewelry" title="回憶珠寶盒">
		挑出年度家庭照片，製作影片送給彼此，再次回味。
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_vquiz&view=quizmanager&layout=score&id=2&Itemid=270" title="家庭三溫暖">
		做個測驗，評價家人之間的互動狀況。
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_postcards&view=jewelry" style="color: #333333;"><span style="font-size: 12pt;">回憶珠寶盒</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_vquiz&view=quizmanager&layout=score&id=2&amp;Itemid=270" style="color: #333333;"><span style="font-size: 12pt;">家庭三溫暖</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
