<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
在法國稱作「藍寶石婚」，夫妻之間的感情如蔚藍的天空般平和、晴朗。
當愛情成為生活，激情轉為溫情，試著在日常中尋找小小的美好吧。當我們回首過往的甜蜜，更能夠感謝彼此的扶持與陪伴，一起用心感受，細細體會，生活中的點滴幸福。<br><br>

<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=greeting&amp;Itemid=148" title="祝福賀卡">
		寫一張卡片送給伴侶，表達自己的感謝心意。
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_checklist&view=item2" title="家庭存款簿">
		請持續為關係加溫，用行動表達關心
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_checklist&view=item2" style="color: #333333;"><span style="font-size: 12pt;">家庭存款簿</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
