<div class="Item02_role">
	</div>
<br>
<div class="Content_role"> 
滿22年的婚姻生活，還記得彼此初次見面的模樣嗎？那令人怦然心動的笑顏？那陷入愛裡的時刻？時間或許改變了我們的容顏與體態，對彼此的愛卻在婚姻中越陳越香，花點時間與伴侶聊聊過去，談談未來，共享青春回憶，共許人生下半場。<br><br>

<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=greeting&amp;Itemid=148" title="祝福賀卡">
		寫一張卡片送給伴侶，表達自己的感謝心意。
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_checklist&view=item2" title="家庭存款簿">
		請持續為關係加溫，用行動表達關心
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_checklist&view=item2" style="color: #333333;"><span style="font-size: 12pt;">家庭存款簿</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
