<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
攜手同行人生重要的黃金20多年，另一半是情感依歸的親密愛人，也是為人生打拼的戰友。
回想這些年來，一同經歷、克服的大小事，就是莫大的成就。
想想對方可愛的地方、在一起的快樂時光，兩個人的默契在經年累月中漸漸形成：一個眼神、一個手 勢或站姿，就知道對方的心情。人生旅途中，有個人可以互相依靠、商量，手牽手走下半輩子，就是幸福。
請準備對方喜愛的食物、用他懂的話語持續表達對他的支持。<br><br>

<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=greeting&amp;Itemid=148" title="祝福賀卡">
		寫一張卡片送給伴侶，表達自己的感謝心意。
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_checklist&view=item2" title="家庭存款簿">
		請持續為關係加溫，用行動表達關心
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_checklist&view=item2" style="color: #333333;"><span style="font-size: 12pt;">家庭存款簿</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
