<div class="Item02_role">
	</div>
<br>
<div class="Content_role">	
俗稱「花(果)婚」，表示婚姻開花結果的意思。
兩個相愛的人结為夫妻，經過4年婚姻生活的磨合，可能已經建立彼此的互動默契。就像開花結果一般，有酸有甜，有煩惱有快樂，更重要的是我們為了更愛彼此而努力，良好的互動關係，需要日日滋養灌溉，<a style="color:blue;" href="index.php?option=com_postcards&view=greeting&Itemid=148" title="祝福賀卡">寫一張卡片送給伴侶，表達自己的感謝心意</a>。<br><br>

<div class="lovetime_link">
	<a href="https://ilove.moe.edu.tw/index.php?option=com_vquiz&view=quizmanager&id=3&Itemid=156" title="愛的語言">
		做個測驗，瞭解伴侶喜歡被關心的方式。
	</a>
</div>

<div class="lovetime_link">
	<a href="https://imyfamily.moe.edu.tw/%E5%AE%B6%E5%BA%AD%E5%9C%96%E6%9B%B8%E9%A4%A8/%E7%B5%A6%E6%88%90%E7%82%BA%E5%A5%BD%E4%B8%88%E5%A4%AB-%E5%A6%BB%E5%AD%90%E7%9A%84%E4%BD%A0/15-%E7%89%BD%E6%89%8B%E7%B7%B4%E7%BF%92%E6%9B%B2" title="牽手練習曲">
		牽手練習曲
	</a>
</div>

<div class="lovetime_link">
	<a href="https://icoparenting.moe.edu.tw/index.php?option=com_content&view=article&Itemid=302&id=38" title="育兒預備">
		當父母之前，攜手先做好夫妻！
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_content&view=article&id=15&Itemid=303" style="color: #333333;"><span style="font-size: 12pt;">牽手練習曲</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table> --><!--iLove/互動時光/愛的語言-->
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="https://ilove.moe.edu.tw/index.php?option=com_vquiz&view=quizmanager&id=3&Itemid=156" style="color: #333333;"><span style="font-size: 12pt;">愛的語言</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table> --><!--iCoparenting/育兒預備/當父母之前，攜手先做好夫妻！-->
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="https://icoparenting.moe.edu.tw/index.php?option=com_content&view=article&Itemid=302&id=38" style="color: #333333;"><span style="font-size: 12pt;">當父母之前，攜手先做好夫妻</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
