<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
膾炙人口的台語歌曲「家後」，唱出女人一輩子將命運奉獻給先生與家庭的偉大情感，歌詞中寫著「幸福是吵吵鬧鬧」，道出華人女性面對婚姻生活的相互忍讓、不計較，且盡力扮演好妻子的角色。如同多數男性為了家庭努力工作，付出一輩子的辛 勞，支撐著家庭運作。
和伴侶一起回首與分享結婚至今，婚姻生活中的美好經驗與感受。<br><br>

<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=greeting&amp;Itemid=148" title="祝福賀卡">
		寫一張卡片送給伴侶，表達自己的感謝心意。
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_checklist&view=item2" title="家庭存款簿">
		請持續為關係加溫，用行動表達關心
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_04.png" alt="Speaker 04" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="/index.php?option=com_postcards&view=greeting&amp;Itemid=148" style="color: #333333;"><span style="font-size: 12pt;">祝福賀卡</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_checklist&view=item2" style="color: #333333;"><span style="font-size: 12pt;">家庭存款簿</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
