<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
俗稱「木婚」，期望夫婦感情堅定，有如一棵茁壯的大樹。
度過了磨合期，夫妻感情日漸茁壯、堅韌、穩定，有如木頭般的溫厚與沉著，讓彼此的感情隨著時間穩當的持續成長，別忘了加點體貼、浪漫的滋養，讓愛的枝葉更加茂密，更有情意。<br><br>

<div class="lovetime_link">
	<a href="https://ilove.moe.edu.tw/index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159" title="幸福五顆星">
		看看自己化解衝突的能力如何？
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=jewelry" title="回憶珠寶盒">
		挑出結婚以來每年的年度家庭照片，製作影片送給彼此，再次回味
	</a>
</div>

<div class="lovetime_link">
	<a href="https://icoparenting.moe.edu.tw/index.php?option=com_content&view=article&Itemid=305&id=7" title="如何兼顧工作與家庭？">
		家庭生活與工作安排也能相互得益。
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_postcards&view=jewelry" style="color: #333333;"><span style="font-size: 12pt;">回憶珠寶盒</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table> --><!--iLove/互動時光/幸福五顆星-->
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="https://ilove.moe.edu.tw/index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159" style="color: #333333;"><span style="font-size: 12pt;">幸福五顆星</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table> --><!--iCoparenting/爸媽加油站/ 如何兼顧工作與家庭？-->
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="https://icoparenting.moe.edu.tw/index.php?option=com_content&view=article&Itemid=305&id=7" style="color: #333333;"><span style="font-size: 12pt;">如何兼顧工作與家庭？</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
