<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
結婚6年俗稱「鐵婚」，表示婚姻堅固如鐵。
經歷過柴米油鹽醬醋茶的家常生活洗禮，也更知道彼此的喜好，磨合建立出特有的互動默契。
生活中難免有溝通不良，引發衝突的時刻。其實，吵架並不可怕，關鍵是具備建設性的吵架能力，找到越吵越瞭解彼此的罩門，從中看見彼此差異，學習相互尊重與包容，感情不受衝突影響，反而越來越甜蜜。<br><br>

<div class="lovetime_link">
	<a href="https://ilove.moe.edu.tw/index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159" title="幸福五顆星">
		看看自己化解衝突的能力如何？
	</a>
</div>

<div class="lovetime_link">
	<a href="index.php?option=com_postcards&view=jewelry" title="回憶珠寶盒">
		挑出結婚以來每年的年度家庭照片，製作影片送給彼此，再次回味
	</a>
</div>

<div class="lovetime_link">
	<a href="https://icoparenting.moe.edu.tw/index.php?option=com_content&view=article&Itemid=305&id=7" title="如何兼顧工作與家庭？">
		家庭生活與工作安排也能相互得益。
	</a>
</div>

<style>
	.lovetime_link {
		margin: 10px;
	}	
	
	.lovetime_link a {
		color: blue;
	}
</style>

<!-- <div class="noteTableExplain" style="font-size: large; padding-top: 10px; padding-bottom: 10px; line-height: 30.3999996185303px;"><br />
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="index.php?option=com_postcards&view=jewelry" style="color: #333333;"><span style="font-size: 12pt;">回憶珠寶盒</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table> --><!--iLove/互動時光/幸福五顆星-->
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="https://ilove.moe.edu.tw/index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159" style="color: #333333;"><span style="font-size: 12pt;">幸福五顆星</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table> --><!--iCoparenting/爸媽加油站/ 如何兼顧工作與家庭？-->
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td><img style="width: 49px; height: 44px;" src="filesys/files/speaker/Speaker_10.png" alt="Speaker 52" width="49" height="44" />
				</td>
				<td style="background: url('filesys/files/speaker/Speaker_05.png') repeat-x;"><a href="https://icoparenting.moe.edu.tw/index.php?option=com_content&view=article&Itemid=305&id=7" style="color: #333333;"><span style="font-size: 12pt;">如何兼顧工作與家庭？</span></a>
				</td>
				<td><img src="filesys/files/speaker/Speaker_06.png" alt="" width="16" height="44" />
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
