/**
 * @package    AcyMailing for Joomla!
 * @version    4.8.1
 * @author     acyba.com
 * @copyright  (C) 2009-2014 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

span.onload
{
	background-image:url(../images/spinner.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding:2px 20px;
}

#acy_content span.loading,#acy_content span.spanloading{
	padding:2px 20px;
	display:inline;
}

div.onload{
	background-image:url(../images/spinner.gif);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	float : right;
	margin-left : 3px;
}

.searchtext
{
	background-color: rgb(255, 255, 102);
	color : black;
	font-weight:bold;
}

#acy_content th.titletoggle{
	width:65px;
	white-space: nowrap;
	text-align:center;
}

#acy_content th.titlesender, #acy_content th.titledate{
	width:150px;
	white-space: nowrap;
	text-align:center;
}

#acy_content th.titlelink{
	width:100px;
	white-space: nowrap;
	text-align:center;
}

#acy_content th.titleorder{
	width:100px;
}

#acy_content th.titlebox,#acy_content th.titleid,#acy_content th.titlenum{
	width:30px;
	white-space: nowrap;
	text-align:center;
}

th.titlecolor{
	width:12px;
}

td.key{
	white-space: nowrap;
}

#acy_content a.acyupgradelink{
	color:#A44097;
	font-style:italic;
	font-size:10px;
	}

div.roundsubscrib{
	width:12px;
	height:12px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 10px;
	float : right;
	margin-left : 3px;
	margin-top : 1px;
	margin-bottom : 1px;
}

div.rounddisp{
	border : 1px solid;
	border-color : gray;
}

div.roundsub{
	border : 2px solid;
	border-color : green;
}
div.roundunsub{
	border : 2px solid;
	border-color : red;
}
div.roundconf{
	border : 2px solid;
	border-color : orange;
}

div.acymailing_footer{
	padding-top : 20px;
	font-size : 10px;
}




div.acymailing_list{
	border : 1px solid #cccccc;
	margin : 10px;
	padding : 10px;
}

div.acymailing_list:hover{
	background-color : #FFFFDD;
}

.list_description{
	padding : 10px 10px;
}

.list_name{
	font-size : 14pt;
}

.acymailing_forward{
	text-align:center;
	width:100%;
	margin-bottom:30px;
}

.acymailing_forward tr, .acymailing_forward td{
	border:0px;
}

#forward_addfriend{
	text-align:left;
	cursor:pointer;
}

#forward_sender_message{
	text-align:left;
	}

div#iframedoc, div#iframetemplate, div#iframetag{
	height:300px;
	display:none;
	border:2px solid #cccccc;
}
#iframedoc iframe, #iframetemplate iframe, #iframetag iframe{
	border: 0 none;
}

div.newsletter_body{
	clear:both;
	margin-top:10px;
}

.hideonline{
	display:none;
}

img.captchaimagecomponent{
	border:1px solid #dddddd;
}





.icon-16-refuse {background-image:url(../images/icons/icon-16-refuse.png); background-repeat: no-repeat; width:16px !important; height:16px !important; float:right;margin-left:3px;}
.icon-32-stats {background-image:url(../images/icons/icon-32-stats.png);}
.icon-32-schedule {background-image:url(../images/icons/icon-32-schedule.png) !important; background-position:0% 0% !important;}
.icon-32-import {background-image:url(../images/icons/icon-32-import.png) !important; background-position:0% 0% !important}
.icon-32-acyexport {background-image:url(../images/icons/icon-32-acyexport.png);}
.icon-32-acylist {background-image:url(../images/icons/icon-32-acylist.png);}
.icon-32-unschedule {background-image:url(../images/icons/icon-32-unschedule.png) !important; background-position:0% 0% !important;}
.icon-32-process {background-image:url(../images/icons/icon-32-process.png);}
.icon-32-acyusers {background-image:url(../images/icons/icon-32-acyusers.png);}
.icon-32-copy {background-image:url(../images/icons/icon-32-copy.png);}
.icon-32-acytemplate {background-image:url(../images/icons/icon-32-acytemplate.png) !important; background-position:0% 0% !important;}
.icon-32-tag {background-image:url(../images/icons/icon-32-tag.png) !important; background-position:0% 0% !important;}
.icon-32-replacetag {background-image:url(../images/icons/icon-32-replacetag.png) !important; background-position:0% 0% !important;}
.icon-32-acyaction {background-image:url(../images/icons/icon-32-acyaction.png);}
.icon-32-acyabtesting {background-image:url(../images/icons/icon-32-acyabtesting.png);}
.icon-32-acymailing {background-image:url(../images/icons/icon-32-acymailing.png);}
.icon-32-fields {background-image:url(../images/icons/icon-32-fields.png);}
.icon-32-filter {background-image:url(../images/icons/icon-32-filter.png);}
.icon-32-share {background-image:url(../images/icons/icon-32-share.png);}
.icon-32-acyprint {background-image:url(../images/icons/icon-32-acyprint.png);}
.icon-32-bounces {background-image:url(../images/icons/icon-32-bounces.png);}
.icon-32-installbounces {background-image:url(../images/icons/icon-32-installbounces.png);}
.icon-32-spamtest {background-image:url(../images/icons/icon-32-spamtest.png);}
.icon-32-acysend {background-image:url(../images/icons/icon-32-acysend.png) !important; background-position:0% 0% !important;}
.icon-32-acypreview {background-image:url(../images/icons/icon-32-acypreview.png) !important; background-position:0% 0% !important;}
.icon-32-joomlanotification {background-image:url(../images/icons/icon-32-joomlanotification.png);}
.icon-48-import {background-image:url(../images/icons/icon-48-import.png);}
.icon-48-acyexport {background-image:url(../images/icons/icon-48-acyexport.png);}
.icon-48-process {background-image:url(../images/icons/icon-48-process.png);}
.icon-48-stats {background-image:url(../images/icons/icon-48-stats.png);}
.icon-48-acymailing {background-image:url(../images/icons/icon-48-acymailing.png);}
.icon-48-acytemplate {background-image:url(../images/icons/icon-48-acytemplate.png);}
.icon-48-newsletter {background-image:url(../images/icons/icon-48-newsletter.png);}
.icon-48-autonewsletter {background-image:url(../images/icons/icon-48-autonewsletter.png);}
.icon-48-campaign {background-image:url(../images/icons/icon-48-campaign.png);}
.icon-48-fields {background-image:url(../images/icons/icon-48-fields.png);}
.icon-48-filter {background-image:url(../images/icons/icon-48-filter.png);}
.icon-48-share {background-image:url(../images/icons/icon-48-share.png);}
.icon-48-acylist {background-image:url(../images/icons/icon-48-acylist.png);}
.icon-48-acyaction {background-image:url(../images/icons/icon-48-acyaction.png);}
.icon-48-acyabtesting {background-image:url(../images/icons/icon-48-acyabtesting.png);}
.icon-48-acyupdate {background-image:url(../images/icons/icon-48-acyupdate.png);}
.icon-48-acyconfig {background-image:url(../images/icons/icon-48-acyconfig.png);}
.icon-48-acyusers {background-image:url(../images/icons/icon-48-acyusers.png);}
.icon-48-bounces {background-image:url(../images/icons/icon-48-bounces.png);}
.icon-48-joomlanotification {background-image:url(../images/icons/icon-48-joomlanotification.png);}


.icon-14-acyaction { background-image:url(../images/icons/icon-14-color-action.png); vertical-align:middle; }
.icon-14-acyabtesting { background-image:url(../images/icons/icon-14-acyabtesting.png); vertical-align:middle; }
.icon-14-tag { background-image:url(../images/icons/icon-14-color-tag.png); vertical-align:middle; }
.icon-14-acyprint { background-image:url(../images/icons/icon-14-color-print.png); vertical-align:middle; }


.btn-small .icon-acymailing { background-image:url(../images/icons/icon-14-acymailing.png); vertical-align:middle; }
.btn-small .icon-process { background-image:url(../images/icons/icon-14-color-process.png); vertical-align:middle; }
.btn-small .icon-acypreview { background-image:url(../images/icons/icon-14-color-acypreview.png); vertical-align:middle; }
.btn-small .icon-export { background-image:url(../images/icons/icon-14-color-export.png); vertical-align:middle; }
.btn-small .icon-acyexport { background-image:url(../images/icons/icon-14-color-export.png); vertical-align:middle; }
.btn-small .icon-acyaction { background-image:url(../images/icons/icon-14-color-action.png); vertical-align:middle; }
.btn-small .icon-acysend { background-image:url(../images/icons/icon-14-color-sendtest.png); vertical-align:middle; }
.btn-small .icon-import { background-image:url(../images/icons/icon-14-color-import.png); vertical-align:middle; }
.btn-small .icon-stats { background-image:url(../images/icons/icon-14-color-chart.png); vertical-align:middle; }
.btn-small .icon-replacetag { background-image:url(../images/icons/icon-14-color-replace-tag.png); vertical-align:middle; }
.btn-small .icon-unschedule { background-image:url(../images/icons/icon-14-color-unschedule.png); vertical-align:middle; }
.btn-small .icon-spamtest { background-image:url(../images/icons/icon-14-color-spamtest.png); vertical-align:middle; }
.btn-small .icon-acyprint { background-image:url(../images/icons/icon-14-color-print.png); vertical-align:middle; }
.btn-small .icon-acytemplate { background-image:url(../images/icons/icon-14-color-template.png); vertical-align:middle; }
.btn-small .icon-schedule { background-image:url(../images/icons/icon-14-color-schedule.png); vertical-align:middle; }
.btn-small .icon-bounces { background-image:url(../images/icons/icon-14-color-bounce.png); vertical-align:middle; }
.btn-small .icon-installbounces { background-image:url(../images/icons/icon-14-color-bounce-rules.png); vertical-align:middle; }
.btn-small .icon-acyusers{ background-image:url(../images/icons/icon-14-acyusers.png); vertical-align:middle; }




a .icon16{
	border: 1px solid transparent;
}

a:hover .icon16{
	border: 1px solid #669933;
}

.acyschedule{
	display:inline-block;
	height:16px;
	width:16px;
	background-image:url(../images/schedule.png)
}

div.acymailing_messages{
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-top-style:solid;
	border-top-width:2px;
	font-weight:bold;
	margin:5px 10px;
	padding:0;
}

.acymailing_messages li{
	list-style-type : none;
	background:none;
	padding-left:0px;
}

.acymailing_messages ul{
	padding:3px 0 3px 25px;
	margin:10px;
}

div.acymailing_warning{
	background-color:#EFE7B8;
	border-bottom-color:#F0DC7E;
	border-top-color:#F0DC7E;
	color:#CC0000;
}

div.acymailing_success{
	background-color:#CCFFBB;
	border-bottom-color:#00AA00;
	border-top-color:#00AA00;
	color:#00AA00;
}

div.acymailing_info{
	background-color:#C3D2E5;
	border-bottom-color:#84A7DB;
	border-top-color:#84A7DB;
	color:#0055BB;
}

div.acymailing_error{
	background-color:#E6C0C0;
	border-bottom-color:#DE7A7B;
	border-top-color:#DE7A7B;
	color:#CC0000;
}

div.acychart, table.acychart{
	border:1px solid #dddddd;
	padding:2px;
}

#acy_content input,#acy_content textarea,#acy_content select,
#acy_content fieldset input,#acy_content fieldset textarea,#acy_content fieldset select,
#acy_content fieldset img,#acy_content fieldset button{
	float:none;
}

#acy_content label{
	float:none;
	display:inline;
}
#acy_content fieldset{
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
}
#acy_content table.admintable td.key ,#acy_content table.admintable td.paramlist_key {
	background-color:#F6F6F6;
	border-bottom:1px solid #E9E9E9;
	border-right:1px solid #E9E9E9;
	color:#666666;
	font-weight:bold;
	text-align:right;
	width:140px;
	padding:7px;
}

#acy_content table.admintable td{
	padding:7px;
}


#acy_content table.admintable td input{
	margin-bottom:0px;
}

#acy_content input, #acy_content select, #acy_content textarea{
	padding:3px;
	border-radius:3px;
}
#acy_content input[type=checkbox], #wysija input, #wysija select{
	padding:0px;
}
#acy_content input[type=radio]{
	margin-left:10px;
	padding:1px;
}

#acy_content div.acyheader{
	background-repeat:no-repeat;
	color:#0B55C4;
	font-size:22px;
	font-weight:bold;
	line-height:48px;
	margin-left:10px;
	padding-left:55px;
	width:auto;
	height:auto;
}

#acy_content dd{
	width:auto;
}

#acy_content div.current select {
	margin-bottom:0px;
	}

#acy_content fieldset legend{
		position:static;
		float:none;
		top : 0px !important;
}

#acy_content div.current{
	background-color:#F9F9F9;
}

#acyarchivelisting td, #acyarchivelisting tr, #acymodifyform td, #acymodifyform tr{
	border:0 none;
}

#acyuserinfo td{
	/*padding: 4px;*/
}

#acyarchivelisting img{
	border:0 none;
}





div.acytagpopup .familymenu a{
	display:block;
	float:left;
	border-left: 1px solid #ccc;
	border-bottom:3px solid #ccc;
	background:url(../images/grey_strip.png) repeat-x center;
	font-size:12px;
	color:#fff;
	text-decoration:none;
	padding: 5px 10px 6px;
	white-space:nowrap;
	margin-bottom:3px;
}


div.acytagpopup .familymenu a:hover,div.acytagpopup .familymenu a.selected{
	 color:#fff;
	 background:url(../images/blue_strip.png) no-repeat center bottom #3f7899;
}

div.acytagpopup #inserttagdiv{
	float:right;
}
div.acytagpopup #plugarea{
	 clear:both;
	 padding :10px;
	 width:700px;
}
div.acytagpopup table.adminlist tr.selectedrow td{
	 background-color:#FDE2BA;
}





table.acltable thead{
	background-color:#5471B5;
	color:white;
}

table.acltable{
	border-collapse: collapse;
	background-color:white;
}
table.acltable td
{
	padding:4px;
		border: #cccccc 1px solid;
}

table.acltable th{
	padding: 5px 15px;
	border: #cccccc 1px solid;
	}

table.acltable td.checkfield{
	text-align:center;
}

table.acltable tr.aclline:hover{
	background-color:#CDE6E3;
}


#unsubpage .unsubsurvey, #unsubpage .unsubintro {
	padding:10px;
	}

#unsubpage .unsuboptions{
	padding-left:20px;
}


div#wysija{
	background:url(../images/editorback.png) no-repeat;
	height:25px;
	width:150px;
	padding:7px 12px;
}

#wysija span{
	width:15px;
	height:16px;
	display:inline-block;
	background:url(../images/typo.png) no-repeat;
	cursor:pointer;
	vertical-align:middle;
	}

#wysija span.ielement{
	background-position:-19px 0px;
}

#wysija span.uelement{
	background-position:-38px 0px;
}

#wysija span.belementselected{
	background-position:0px -29px;
}
#wysija span.ielementselected{
	background-position:-19px -29px;
}
#wysija span.uelementselected{
	background-position:-38px -29px;
}

div.acyfilterarea{
	border-left:3px solid #ccc;
	padding:5px;
	margin-left:10px;
}

#acy_content td.acytdcheckbox{
	width:35px;
	background-image:url(../images/checkbox.png);
	background-repeat:no-repeat;
	background-position:14px 3px;
}

#acy_content tr:hover td.acytdcheckbox{
	background-position:-56px 3px;
}

#acy_content tr.selectedrow td.acytdcheckbox{
	background-position:-126px 3px;
}

.receiveemailbox_hidden{
	display:none
}

#acy_content tfoot td{
	text-align:center;
}




#acy_content fieldset.radio {
	border: 0;
	margin-bottom: 5px;
	background-color:transparent;
}
#acy_content fieldset.adminform {
	padding: 5px 17px 17px;
}
#acy_content fieldset.adminform legend {
	margin: 0px;
	padding: 0px 3px;
	border: 0px solid;
	width: auto;
}
body.com_acymailing #acy_content table td.order input {
	width:20px;
	margin-bottom:0px;
}
body.com_acymailing div.modal-body iframe {
	border:0px;
}

.modal-body{
	max-height: none !important;
}

#acy_content .close {
	float:right;
}

.acyheaderarea{
	margin-bottom:10px;
}

#acyuserinfo label, #acyusersubscription label{display:inline;}

#acyusersubscription input[type="radio"] {
	float:none;
	margin-right:4px;
}

.onlyprint{display:none}

body.com_acymailing #toolbar button{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
}

body.com_acymailing .modal-body iframe{
	max-height:100%;
}

body.com_acymailing h1.page-title a{
	color:white;
}


#acynavbar div.navbar-inner{
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	background-repeat: repeat-x;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.refreshCaptcha{
	background-image:url(../images/refresh.png);
	width:16px;
	height:16px;
	display:block;
	float:right;
	cursor:pointer;
}
.refreshCaptchaForward{
	background-image:url(../images/refresh.png);
	width:16px;
	height:16px;
	display:inline-table;
	cursor:pointer;
}

#dateDetails {
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom, #fff, #eee);
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 3px #fff inset, 1px 2px 3px #ddd;
	opacity: 1;
	padding: 7px 12px 12px 12px;
	position: fixed;
}
.dateDetailType{
	padding-bottom: 5px;
}
.dateDetailType input{
	width: 30px !important;
}
.dateBtn{
	padding-top:5px;
}

.abtesting_actions, .abtesting_mails{
	padding-left:15px;
}
.abtesting_actions input{
	margin-right: 10px !important;
}
.abTestingPage fieldset{
	margin: 10px;
	padding: 5px;
}


#acyarchivelisting a.modal, #acy_content a.modal{position:static !important;margin:0 !important;width:auto !important;display:inline !important;}
