.all {
	max-width: 1200px;
	margin: auto;
}

.all .head {
	text-align: center;
}

.all .footer {
	text-align: center;
	margin-top: 20px;
}

.all .com_timeline {
	margin-top: -80px;
}

.all .btn-group {
	text-align: right;
	padding: 0px 10px;
}

.all .btn-group a {
	margin: 2px;
}
