/*
Easy File Uploader Module for Joomla!
Copyright (C) 2010-2015  Michael Albert Gilkes

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

*/
/*
 * IMPORTANT:
 * + The ORDER of the styles in this file matters in terms of precedence.
 * + use !important at the end of value to override inline styles
 */

.efum-alert, 
.efum-warning {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #c09853;
}

.efum-alert .close-btn {
	position: relative;
	top: -5px;
	right: -30px;
	line-height: 18px;
	float: right;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.efum-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}

.efum-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

.efum-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}
