#navContent{
	/*margin:auto;	*/
	width: 410px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	background-color: #FFBF7F;
 	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#game1{
	margin: auto;
	width: 410px;
	height: 260px;
	right: 0px;
	position: absolute;
}

#game2{
	margin: auto;	
	width: 410px;
	height: 260px;
	right: -410px;
	position: absolute;
} 
 
.questionText{
	color: #282828;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	margin-bottom: 5px;
}

.option{
	width: 120px;
	color: #282828;
	cursor: pointer;
	font-size: 16px;
	margin: -5px 0 0 12px;
	line-height: 32px;
	text-align: center;
	background-image: url('../../../../filesys/images/com_truelove/option.png');
	background-repeat: no-repeat;
}

.option img {
	margin-top: -22px;
	margin-left: -26px;
	position: relative;
	top: 6px;
	right: 8px;
}

.next {
	height: 50px;
	/*text-align: right;
	margin-top: -55px;
	margin-right: 55px;*/
}

.next img {
	cursor: pointer;
}

#topbar{
	height:50px;
	margin:auto;
	margin-top:50px;
	color:#FFF;
	font-size:36px;
	width:800px;
	border-bottom:solid white 1px;
}
 
.spacer{
	height:30px;
}

.feedback1{
	width:150px;
	padding:5px;
	font-size:30px;
	color:#FFFFCC;
	background-color:#009900;
	text-align:center;
}

.feedback2{
	width:150px;
	padding:5px;
	font-size:30px;
	color:#FFFFCC;
	background-color:#CC3300;
	text-align:center;
}

/* rene */
.game_result {
	width: 330px;
	line-height: 48px;
	text-align: center;
	margin: 26px auto 20px auto;
	border: 1px solid #EEB276;
	background-color: #FEE8D1;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFCF7, endColorstr=#FEE8D1);
	background:linear-gradient(to bottom, #FFFCF7 0%, #FEE8D1 40%, #FEE8D1 80%, #FFFCF7 100%);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
 
.game_result div {
	margin: 0 15px;
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	display: inline-block;
}

.game_result div span {
	color: red;
}

.game_block {
	height: 260px;
}

.game_img,
.result_img {
	margin-left: 25px;
	display: inline-block;
}

.game_img img {
	vertical-align: bottom;
}

.start {
	width: 410px;
	text-align: center;
}

.resultText {
  	color: #000;
  	font-size: 16px;
  	font-weight: bold;
  	text-align: left;
	line-height: 30px;
	padding: 20px 35px;
}

.resultContent {
	text-align: center;
}

.result_bg {
	margin-left: 0px;
	text-align: center;
}

.option_block {
	display: inline-block;
}

.option_block .option_img {
	margin-left: 14px;
}

@media screen and (max-width:550px) {
	#topbar{margin-left:1%;margin-right:1%;	width:96%;}
	#navContent{margin:1%;	width:98%;}
	#game1{margin:1%;	width:98%;}
	#game2{margin:1%;	width:98%;}


}
@media screen and (max-width:350px) {
	.option{width:80%;margin:5%;}
}