@charset "UTF-8";
/*Reset----------------------------------------------------------------------------------------------------*/
span, applet, object, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, section, article,
header,  textarea, footer, nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size:100%;
  vertical-align: baseline;
  word-wrap: break-word;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-family: "微軟正黑體", Microsoft JhengHei, "新細明體", PMingLiU, "細明體", MingLiU, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
  width:100% ;
  -webkit-text-size-adjust: 100%;
}
select, button {
  font-family: "微軟正黑體", Microsoft JhengHei, "新細明體", PMingLiU, "細明體", MingLiU, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  outline: none;
  text-decoration:none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, tr, th, td {
  padding: 0;
}

img {
  /*display: block;*/
}

::selection{
	background:rgba(0,0,0,0)
	}
	
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #888;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #888;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #888;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #888;
}	

/*END Reset------------------------------------------------------------------------------------------------*/
